<!DOCTYPE html>
<html>
  <head>
    <title>FTP Harddisk Monitoring</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Tambah Host (Disarankan IP)</h2>
    <form action="/addhost/" method="POST">
	Host : <input type="text" name="host" required><br>
	<input type="submit" value="Submit">&nbsp;<a href="/">Kembali</a>
    </form>
  </body>
</html>
