<!DOCTYPE html>
<html>
  <head>
    <title>FTP Harddisk Monitoring</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Tambah Mount Point</h2>
    <form action="/addmount/" method="POST">
	Pilih Host 
	<select name="host">
	<%
		var i = 0;
		while (data[i] != undefined) {
	%>
		<option value=<%=data[i].id%>><%=data[i].host%></option>
	<%
		i++;
		}
	%>
	</select>
	<br>
        MountPoint : <input type="text" name="mountpoint" required><br>
	<input type="submit" value="Submit">&nbsp;<a href="/">Kembali</a>
    </form>
  </body>
</html>
