<!DOCTYPE html>
<html>
  <head>
    <title>FTP Harddisk Monitoring</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2>Welcome to FTP Harddisk Monitoring</h2>
    <p>Monitored by S.M.A.R.T Monitoring tools, programmed with Node.js</p>
    <a href = "/addhost/">Tambah Host </a><br>
    <a href = "/addmount/">Tambah Mount Point </a><br>
    <table>
	<tr>
		<th>No</th>
		<th>Host</th>
		<th>Mountpoint</th>
		<th>Aksi</th>
	</tr>
	<%
		var i = 0;
		while (data[i] != undefined) {
	%>
	<tr>
		<td><%=(i+1)%></td>
		<td><%=data[i].host%></td>
		<td><%=data[i].mountpoint%></td>
		<td><a href = "/cstatus/<%=data[i].id%>">Lihat</a></td>
	<%
		i++;
		}
	%>
	</tr>
    </table>
  </body>
</html>
